# Copyright (c) 2015, 2016, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

#
# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
#!includedir /etc/mysql/conf.d/
#!includedir /etc/mysql/mysql.conf.d/
[client]
#以下相当于这三个：#相当于这三个：set character_set_client=utf8mb4;set character_set_results=utf8mb4;set character_set_connection=utf8mb4;
default-character-set=utf8mb4

[mysql]
#以下相当于这三个：#相当于这三个：set character_set_client=utf8mb4;set character_set_results=utf8mb4;set character_set_connection=utf8mb4;
default-character-set=utf8mb4

[mysqld]
#表名不区分大小写
lower_case_table_names=1
#character-set-client-handshake=FALSE
#init_connect='set collation_connection = utf8mb4_bin'
#init_connect='set collation_database = utf8mb4_bin'
#以下相当于这三个：#相当于这三个：set character_set_client=utf8mb4;set character_set_results=utf8mb4;set character_set_connection=utf8mb4;
#init_connect='set names utf8mb4'
#使用utf8mb4编码，避免少部分汉字乱码
character-set-server=utf8mb4
#使用utf8mb4_bin方式排序以区分大小写（utf8mb4_general_ci、utf8mb4_unicode_ci不区分大小写，又没有提供utf8mb4_general_cs、utf8mb4_unicode_cs）
collation-server=utf8mb4_bin
